/* footer */
.footer-container {
  background-color: #eaeaec;
  min-height: 7rem;
  width: 100%;
  padding: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
  box-sizing: border-box;
}
.footer-header {
  font-size: 1rem;
  letter-spacing: 0.5px;
  text-align: center;
  color: #696b79;
}
.primary-text-color {
  color: #ff0000;
  margin: 0 0.5rem;
}
.footer-social-icons {
  display: flex;
  align-items: center;
  list-style: none;
  width: fit-content;
  margin: 1rem auto;
  color: #000;
}
.footer-links:hover {
  color: #282c3f;
}
.footer-copy {
  color: #696b79;
  font-weight: 300;
  font-size: 0.875rem;
}
