.wrapper-account {
   margin: 1rem;
   padding: 1rem;
   width: 80%;
}
.container-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    margin: 1rem;
    padding: 1rem;
    width: 100%;
 }
 
 .card-profile {
    border-radius: 0.3rem;
    padding-bottom: 2rem;
 }
 
 .profile-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    width: 80%;
 }
 
 .profile-label {
    display: flex;
    font-weight: 500;
    width: 100%;
    align-items: center;
 }
 
 .title-profile {
    font-size: 1.3rem;
    padding: 0.8rem;
    letter-spacing: 1px;
    color: #3a3838;
 }
 
 .profile-input {
    width: 100%;
    border-radius: 0.1rem;
    display: inline-block;
    background-color: #f7f7f7;
    padding: 0.3rem;
 }
 
 .profile-label-title {
    display: inline-block;
    padding: 0.3rem;
    width: 20%;
    text-align: left;
 }
 
 .btn-account-auth {
    margin-top: 2rem;
 }
 .btn-account-auth:hover{
   opacity: 0.8;
 }
 
 @media screen and (max-width: 840px) {
   .profile-info {
      width: 100%;
   }
   .wrapper-account {
      margin: 1rem;
      padding: 1rem;
      width: 100%;
    }
 
    .wrapper-sidebar {
       margin: 1rem;
       width: 25%;
    }
 
    .container-profile {
       margin-top: 2rem;
       display: flex;
       width: 100%;
    }
 
    .profile-label {
       flex-direction: row;
       width: 100%;
    }
 
    .profile-label-title {
       width: 100%;
    }
 
    .profile-input {
       width: 100%;
       padding: 0.3rem;
    }
 
    .btn-account-auth {
       margin-left: 1rem;
    }
 }