* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.nav-container {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 10vh;
    padding: 0.625rem 1rem;
    color: #282c3f;
    background-color: #fff;
    box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 5%);
    z-index: 2;
}
.nav-section {
    flex: 1;
    width: 50%;
    display: flex;
    align-items: center;
}
.navbar-logo {
    padding: 0 1rem;
}
.navbar-links {
    display: flex;
    padding: 0 1rem;
    list-style: none;
}
.list-inline-item {
    margin-right: 1.5rem;
}

a {
    text-decoration: none;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    color: rgb(105,110,121);
    border-radius: 0.3rem;
    justify-self: right;
    border: 1px solid #f5f5f6;
    background-color: rgb(245,245,246);
}
.search-bar-btn {
    padding: 0.625rem 1rem;
    border-radius: 0.3rem;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}
.search-bar-input {
    width: calc(100% - 2rem);
    border: none;
    background-color: transparent;
    padding: 0.625rem 1rem;
    outline: 0px; 
}
.nav-icons {
    display: flex;
    /* justify-self: right; */
    width: 50%;
    padding: 0 1rem;
    list-style: none;
}
.nav-icon-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.link-no-style {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.nav-icon {
    color: #696b79;
    width: 1.2rem;
    height: 1.2rem;
    font-size: 1.2rem;
}
.nav-icon-text {
    font-size: 0.75rem;
    margin-top: 4px;
}
.badge-container {
    position: relative;
    width: fit-content;
}
.status-badge-number {
    display: none;
}
.hide-in-desktop {
	display: none;
}
.hide-in-mobile {
	display: block;
}
@media screen and (max-width: 1024px) {
	.nav-bar {
		padding: 0.8rem 0.8rem 0.8rem 0rem;
		margin-bottom: 1.5rem;
	}
	.nav-bar-links {
		box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 5%);
	}
	.active .nav-bar-links {
		padding-bottom: 2.75rem;
	}
	.nav-section {
		width: auto;
	}
	.search-bar-btn {
		font-size: 1.1rem;
		padding-right: 0.5rem;
	}
	.search-bar {
		position: absolute;
		top: 4rem;
		left: 0;
		width: 100%;
		background-color: white;
	}

	.search-bar-input {
		display: inline-block;
		position: relative;
	}
	.hide-in-desktop {
		display: block;
	}
	.hide-in-mobile {
		display: none;
	}
	.avatar-in-nav-links {
		background-color: var(--dark-secondary-text-color);
	}
}
/* slider */
.slider-container {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.slider-arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.625rem 1rem;
    background-color: #fff;
    font-size: 1.5rem; 
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 1rem;
    cursor: pointer;
    border: none;
    z-index: 2;
    
}
.slider-arrow:hover{
    background-color: rgb(209, 209, 209);
    color: #fff;
}
.right-arrow{
    right: 0;
}
.wrapper {
    height: 100%;
    display: flex;
}
.slide {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color:rgb(0 0 0 / 5%);
}

.img-container {
    flex: 1;
    height: 100%;
    /* display: flex;
    align-items: center; */
}
.info-container {
    flex: 1;
    padding: 50px;
}
img {
    height: 80%;
    width: 100%;
    object-fit: cover;

}
.title {
    font-size: 4rem;
}

.desc {
    margin: 3rem 0;
    max-width: 90%;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 3px;
}
.info-btn {
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    min-width: 80px;
    border-radius: 0.3rem;
    text-align: center;
    background: transparent;
    cursor: pointer;
    outline: none;
}
.info-btn:hover {
    background: #eee;
}

.category-container {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    /* box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 5%); */
}
.card {
    width: calc(33.33% - 1rem);
    height: 70vh;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem; */
    border-radius: 0.3rem;
    background-color: #fff;
    box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 5%);
    position: relative;
}
.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 
.card-info {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 3px;
    border-radius: 0.3rem;
    cursor: pointer;
    box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 5%);
}
.card-info:hover {
    background-color: transparent;
    color: #fff;
    /* color: #fff; */
}
.card-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
    letter-spacing: 3px;
}
.card-btn {
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    min-width: 80px;
    border-radius: 0.3rem;
    text-align: center;
    background: transparent;
    cursor: pointer;
    outline: none;
    color:#fff;
    border: 1px solid #eee;
}
.card-btn:hover {
    background: #eee;
    color: black;
}

.products-container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.product-card {
    width: calc(25% - 2rem);
    height: 55vh;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem; */
    border-radius: 0.3rem;
    background-color: #fff;
    box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 5%);
    position: relative;
}
.product-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-card-info {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s;
}
.product-card-info:hover {
    opacity: 1;
    background-color: rgba(0,0,0,0.5);
}
.product-card-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 1.5rem;
    color: #696b79;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
    transition: all 0.3s ease;
}
.product-card-icon:hover {
    background-color: #eee;
    transform: scale(1.1);
    color: #000;
}

.footer-container {
    background-color: #eaeaec;
    min-height: 7rem;
    width: 100%;
    padding: 2.5rem;
    font-size: 1.5rem;
    text-align: center;
    box-sizing: border-box;
}
.footer-header {
    font-size: 1rem;
    letter-spacing: .5px;
    text-align: center;
    color: #696b79;
}
.primary-text-color {
    color: #ff0000;
    margin: 0 0.5rem;
}
.footer-social-icons {
    display: flex;
    align-items: center;
    list-style: none;
    width: fit-content;
    margin: 1rem auto;
    color: #000;
}
.footer-links:hover {
    color: #282c3f;
}
.footer-copy {
    color: #696b79;
    font-weight: 300;
    font-size: .875rem;
}